{% extends 'shop/base.html'%}
{% load static %}

{% block title %}
    explanation
{% endblock %}

{% block content %}
<div class="container about">
    <div >
      <h1><span class="eco" >Eco</span>natorができた経緯</h1>
    </div>
    <div class>
      <p>2020年7月より、海洋プラスチックごみ問題や地球温暖化などの解決に向けた第一歩として、レジ袋の有料化が始まり、それに伴いエコバッグの需要が高まりました。

      </p>
      <p>
        海洋プラスチックごみ問題などについて調べていた私達は、レジ袋の代わりとなるエコバッグの利用を促進することがこの問題の解決へつながると考え、エコバッグに関する活動をすることにしました。<br>
        活動のためにエコバッグに関するサーベイをしたところ、エコバッグ専用の通販サイトでは商品数が少ない、種類が少ないという問題が、またエコバッグ専用ではないサイトでも絞り込みが難しい、関係のない商品が出てきてしまうといった欠点が挙げられました。<br>
      </p>
      <p>
        そのため、自分が本当に必要としているエコバッグを使っている利用者はごくわずかであることがわかり、今ある販売サイトでは不十分と思い、私達は利用者の必要としている、利用者の希望に近いエコバッグを提案するサイトEconaterを制作しました。
      </p>
    </div>
</div>

アンケートにご協力ください。
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfF1Lb3P_z1aacDrKOIbC42VYD_rTpaSjvLf3lVTxOiabxM3g/viewform">URL</a>

{% endblock %}
